<div class="content">
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, eveniet impedit, obcaecati, provident fuga eaque molestias
    quidem debitis perspiciatis laborum vel. Delectus saepe praesentium illum recusandae nulla optio minus voluptas?Aspernatur
    rem ea, nobis accusamus quisquam nostrum pariatur officia minus veniam itaque nihil sed similique voluptates quaerat
    dicta explicabo quidem in incidunt. Eaque nam doloribus voluptatibus iure tempora, cupiditate expedita.
  </div>
  <app-banner [sections]="sectionsConf" [currentSection]="currentSection" (scrollToSection)="scrollToSection($event)">
  </app-banner>
  <app-section [sectionTitle]="1" [thresholdzzz]="0.75" (visibilityChanged)="onVisibilityChanged($event)">
    <div>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores laborum eos non maxime natus provident veritatis sequi.
      Perferendis, veniam. Quis eaque suscipit rem enim laborum quaerat atque rerum, maiores reprehenderit.
    </div>
  </app-section>
  <app-section [sectionTitle]="2" [thresholdzzz]="0.75" (visibilityChanged)="onVisibilityChanged($event)">
    <div>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores laborum eos non maxime natus provident veritatis sequi.
      Perferendis, veniam. Quis eaque suscipit rem enim laborum quaerat atque rerum, maiores reprehenderit.
    </div>
  </app-section>
  <app-section [sectionTitle]="3" [thresholdzzz]="0.75" (visibilityChanged)="onVisibilityChanged($event)">
    <div>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores laborum eos non maxime natus provident veritatis sequi.
      Perferendis, veniam. Quis eaque suscipit rem enim laborum quaerat atque rerum, maiores reprehenderit.
    </div>
  </app-section>
</div>
